<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.b07_project" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.B07Project" >
        <activity
            android:name=".layout.ViewCart"
            android:exported="false" />
        <activity
            android:name=".layout.EditItem"
            android:exported="false" />
        <activity
            android:name=".layout.CheckOrder"
            android:exported="false" />
        <activity
            android:name=".layout.AddItem"
            android:exported="false" />
        <activity
            android:name=".layout.CustomerVisitStore"
            android:exported="false" />
        <activity
            android:name=".layout.StoreActivity"
            android:exported="false" />
        <activity
            android:name=".layout.CustomerViewStores"
            android:exported="false" />
        <activity
            android:name=".layout.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".layout.RegisterUser"
            android:exported="false" />
        <activity
            android:name=".layout.MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>